body {
    margin: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #000;
}

#startAR {
    padding: 15px 30px;
    font-size: 18px;
    border: none;
    cursor: pointer;
    background: #ff4b4b;
    color: white;
    border-radius: 5px;
}
